@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url("images/bg.png") center/cover no-repeat;
    padding-bottom: 200px;
}

.links {
    width: 75%;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}

.links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #d2d7d9;
    font-size: 1.3em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.links>section {
    display: inline-block;
}

.links> :nth-child(1) {
    width: 20%;
}

.links> :nth-child(2) {
    width: 75%;
}

.links> :nth-child(2)>a {
    margin-left: 20px;
}

.box {
    width: 50%;
    margin: auto;
    padding: 110px 0;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 220px;
    text-align: center;
}


.box> :nth-child(1) {
    font-family: 'Cookie', cursive;
    color: #2c3a42;
    font-size: 5em;
    margin: auto;
}


.box> :nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    color: #ad6c12;
    font-weight: bolder;
    text-transform: uppercase;
    margin: auto;
}


.box> :nth-child(3) {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    background-color: white;
    font-size: 2em;
    text-transform: uppercase;
    color: #2c3a42;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

main {
    background-color: #2a3b40;
    padding-bottom: 5%;
}

main .container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.container>section {
    height: 100%;
    display: inline-block;
}

.container h1 {
    font-size: 2em;
}

.container p {
    padding-top: 40px;
    font-size: 1.2em;
    width: 70%;
}

.container p,
h1 {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: left;
}


.s-1 {
    padding: 100px 0;
    background-color: #d4d8d9;
}

.items {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 28%;
}

.item>h1,
p {
    color: #2a3b40;
    margin: 5px;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
}

.circles {
    display: flex;
}

.circles>span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    background-color: #2a3b40;
}


.s-2 {
    padding: 90px 160px;
    background: url("images/bg2.png") center/cover no-repeat;
}

.s-2>section {
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 35px;
    width: 70%;
    margin: auto;
}

.s-2>section> :nth-child(1) {
    font-family: 'Cookie', cursive;
    font-size: 4em;
    color: #304751;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.s-2>section> :nth-child(2) {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    color: #ad6c12;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
}


.squares {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.square {
    width: 25%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.square>p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    color: #2a3b40;
}

.square img {
    width: 100%;
}

.square> :nth-child(1) {
    font-weight: bold;
    text-transform: uppercase;
}

.s-3 {
    background-color: #d4d8d9;
    position: relative;
    display: flex;
    flex-direction: row;
}

.text {
    text-align: center;
    align-items: center;
    padding: 80px 50px;
}

.s-3:nth-child(2) {
    position: absolute;
    right: 0;
}

.s-3 h1 {
    color: #2a3b40;
    text-align: center;
    font-size: 2em;
}

.s-3 p {
    font-size: 1.3em;
    letter-spacing: 1px;
    margin-top: 20px;
}

.circles {
    justify-content: center;
    margin-top: 30px;
}

.s-3 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.s-3 li {
    margin-right: 35px;
}

.s-3 a {
    text-decoration: none;
    color: #2a3b40;
    font-weight: 600;
    font-size: 1.5em;
}

.s-4 {
    padding-top: 240px;
    background: url("images/b4.png") center/cover no-repeat;
}

.menu {
    background-color: #d2d7d9;
    opacity: 0.8;
    padding: 30px 200px;
    /* text-align: center; */
}

.headers >p{
    text-align: center;
}

.headers :nth-child(1){
    font-family: 'Cookie', cursive;
    font-size: 4em;
    margin-bottom: 0;
}
.headers :nth-child(2){
    font-size: 2em;
    color: #ad6c12;
    font-weight: 600;
    margin-top: 0;
}
.menu .meals{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.menu .meals .meal{
    width: 50%;
    display: flex;flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    /* padding-left: 100px; */
    justify-content: center;
    padding-left: 10%;
}
.menu .meals .meal p{
    width: 70%;
}
.menu .meals .meal .about {
    display: inline-block;
}
.menu .meals .meal .about :nth-child(1){
    font-weight: bold;
}
.menu .meals .meal img{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    height: 60%;
    display: inline-block;
}
.s-5{
    height: 890px;
    background: url("images/b5.png") center/cover no-repeat;
}

.s-6{
    background-color: #d2d7d9;
    padding-top: 20px;
}

.s-6 .squares{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 100px;
    padding-bottom: 120px;
}

.s-6 .squares .square{
    margin-right: 40px;
    width: 20%;
    background-color: white;
}



.s-6 .squares .square .content{
    padding: 15px 25px 40px 25px;
    text-align: left;
}

.s-6 .squares .square .content > *{
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.s-6 .squares .square .content .title{
    margin-bottom: 9px;
    font-weight: bolder;
}
.s-6 .squares .square .content .about{
    font-weight: bold;
}
.s-6 .squares .square .content .text{
    color: #304751;
}

.s-6 .squares .square .content a{
    text-decoration-color: #ad6c12;
    text-decoration-thickness: 5px;
}

.s-7{
    font-family: 'Raleway', sans-serif;
    background-color: #2a3b40;
    padding-top: 20px;
    position: relative;
}
.s-7   *{
    color: white;
}
.s-7 .header{
    font-size: 100px;
    position: absolute;
    top: 0;
    width: 99%;
    text-align: center;
}

.s-7 .text{
    width: 60%;
    margin: auto;
}
.s-7 .text .author{
    margin-top: 30px;
    font-weight: bold;
    font-size: 25px;
}
.s-7 .text .lorem{
    font-size: 20px;
}

.s-7 ul{
    list-style: none;
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.s-7 ul li{
    margin-right: 15px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px 130px;
    background-color: #d2d7d9;
    justify-content: center;
}

footer > *{
    margin-right: 100px;
}

footer .left-side{
    width: 30%;
    padding: 0 40px;
}

footer .header{
    font-size: 1.3em;
    font-weight: bold;
}
footer .left-side .content{
    margin-top: 20px;
    font-size: 18px;
}

footer ul{
    margin-top: 20px;
    font-size: 20px;
    list-style: none;
}

footer ul li{
    margin-top: 10px;

}

footer ul li a{
    color: #2a3b40;
    font-weight: 600;
    text-decoration: none;
}